{% extends "jobs/base.html" %}
{% block content %}
    <h2 class="register-n-login">User Login</h2>
    <form method="POST">
        {% csrf_token %}
        <p>{{ form.username }}</p>
        <p>{{ form.password }}</p>
        <button class="submit" type="submit">Log In</button>
        <div class="register-n-login" style="color:#D74545">{{ form.errors }}</div>
    {% for message in messages %}
        <p class="register-n-login">{{ message }}</p>
    {% endfor %}
    </form>
<br>
<div class="register-n-login" style="color:white">Don't have an account? <a class="rl-button" href="{% url 'register' %}">Register</a></div>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder='Email';
    form_fields[2].placeholder='Password';

    for (var field in form_fields){
            form_fields[field].className += ' form-control'
        }

</script>
{% endblock content %}
