:root {
    --light: #d2d7e0;
    --dark: #1A1C1E;
    --darker: #141517;
    --blue: #0aafff;
    --red: #D74545;
    --darkred: #9C1A1A;
}

body {
    background-color: var(--dark);
    color: var(--light);
    max-width: 1200px;
    margin: auto;
    font-family: monospace;
    font-size: 16px;
}

table { 
    width: 100%;
    border-collapse: collapse; 
    margin: auto;
}

th, td {
    border-bottom: 0.05em solid var(--light);
    padding: 6px;
    text-align: center;
}

a {
    text-decoration: none;
}

.center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.row-hover:hover  {
    background-color: var(--darker);
}
.topbar, .topbar a {
    padding: 14px;
    color: var(--blue);
    clear: both;
    display: flex;
    justify-content: right;
}
.topbar a:hover {
    color: white;
}

.ralign {
    margin-right: 0px;
    margin-left: auto;
}

.register-n-login, .submit, .details {
    padding: 14px;
    color: var(--blue);
    justify-content: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.submit {
    justify-content: center;
}

input, button, select, textarea, .cancel-button {
    width: 50%;
    padding: 12px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.logoutred {
    color: var(--red);
}

.button {
    width: 70%;
    padding-left: 12px;
    color: white;
    background-color: var(--blue);
    border: none;
}

.button:hover {
    color: var(--blue);
    background-color: white;
}

.delete-button, .cancel-button {
    background-color: var(--red);
    color: white;
    border: none;
}

.cancel-button {
    background-color: var(--blue);
}

.cancel-button: hover {
    background-color: white;
    color: var(--blue);
}

.register-button { 
    background-color: white;
    color: var(--blue);
    padding-left: 8px;
    padding-right: 8px;

}

.register-button:hover {
    background-color: var(--blue);
    color: white;
}

.blue {
    color: var(--blue);
}

.descrip {
    /*border-top: 0.05em solid var(--light);*/
    border-bottom: 0.05em solid var(--light);
    text-align: center;
    padding-top: 12px;
}

.rl-button {
    padding-left: 14px;
    color: var(--blue);
}

.rl-button:hover {
    color: white;
}

.w-button:hover, .delete-button:hover {
    filter: brightness(80%);
}
