<!DOCTYPE html>
{% load static %}
<html>
	<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'jobs/style.css' %}"/>
		<title>Djanbs Job Offers</title>
	</head>
	<body>
        <div class="topbar">
            <a href="{% url 'home' %}">Djanbs</a>
            <a class="ralign" href="#">{{ user_name|capfirst }}</a>
            {% if in_or_out == 'login' %}
                <a class="ralign" href="{% url 'login' %}">Login</a>
            {% else %}
                <a class="ralign logoutred" href="{% url 'logout' %}">Logout</a>
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}
	</body>

</html>
