{% extends "jobs/base.html" %}
{% block content %}
<center><h2> {{ request.user.company.name }} </h2></center>
<br>
<center><h3>List of Candidates for '{{ job_offer }}' Job Offer </h3></center>

<table>
<tr class="blue">
    <th>Candidate</th>
    <th>Fits Education Requirement?</th>
    <th>Fits Position Level?</th>
    <th>Payment Range Fits Offer?</th>
    <th>Score</th>
    <th>Cand. Details</th>
</tr>
{% for jc in offer_candidates %}
<tr class="row-hover">
    <td>{{ jc.candidate }}</td>
    <td>{{ jc.education }}</td>
    <td>{{ jc.position_level }}</td>
    <td>{{ jc.payment_range }}</td>
    <td>{{ jc.cand_pontuation }}</td>
    <td><a href="{% url 'details-cand' jc.id %}"><button class="w-button" style="width:80%;border:none">Details</button></a></td>
</tr>
{% endfor %}
</table>
<br>
<center><a class="cancel-button" href="{% url 'home' %}">Go Back to your Home</a>
{% endblock content %}
