{% extends "jobs/base.html" %}
{% block content %}

    <div class="job-offers-table">
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <p class="register-n-login logoutred">{{ message }}</p>
            {% else %}
                <p class="register-n-login">{{ message }}</p>
            {% endif %}
        {% endfor %}
        <table>
        <tr class="blue">
            <th>Job Name</th>
            <th>Position Level</th>
            <th>Location</th>
            <th>Company</th>
            <th>Details and Apply</th>
        </tr>
        {% for job_offer in job_offers %}
            <tr class="row-hover">
                <td>{{ job_offer.name }}</td>
                {% if job_offer.position_level == 1 %}
                    <td>Intern</td>
                {% elif job_offer.position_level == 2 %}
                    <td>Junior</td>
                {% elif job_offer.position_level == 3 %}
                    <td>Pleno</td>
                {% elif job_offer.position_level == 4 %}
                    <td>Senior</td>
                {% elif job_offer.position_level == 5 %}
                    <td>Tech Lead</td>
                {% endif %}
                <td>{{ job_offer.location }}</td>
                <td>{{ job_offer.company }}</td>
                <td><a href="{% url 'job-candidate' job_offer.id %} "><button class="button">See Details and Apply</button></a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock content %}
