{% extends "jobs/base.html" %}
{% block content %}
<h2 class="register-n-login">Job Offer to '<b>{{ job_offer }}</b>' at {{ job_offer.company }}</h2>

<table>
    <tr class="blue">
        <th>Location</th>
        <th>Position Level</th>
        <th>Education Required</th>
        <th>Payment Range</th>
    </tr>
    <tr>
    <td>{{ job_offer.location }}</td>
    <td>{{ pos_level }}</td>
    <td>{{ education }}</td>
    <td>{{ payment }}</td>
    </tr>

</table>
<br>
<br>
<table>
    <tr class="blue">
        <th>Job Offer Description</th>
    </tr>
    <tr>
        <td style="padding:20px; text-align:left">{{ job_offer.description }}</td> 
    </tr>
</table>

<br>
<form method="POST" action="">
    {% csrf_token %}
    {{ form }}
    <div class="register-n-login">{{ candidate }} will you candidate yourself to '<b>{{ job_offer }}</b>'?</div>
    <input class="cancel-button" type="submit" name="Submit" value="Apply to this Job Offer">
    <div class="register-n-login" style="color:#D74545">{{ form.errors }}</div>
</form>
{% endblock content %}
